<table class="table">
    <thead>
        <tr>
            <th>image</th>
            <th (click)="onSort(columnSortEnum.Nomenclature)">
              nomenclature
              <ng-container
                *ngTemplateOutlet="sortIndicator; context: { columnSortCurrent: columnSortEnum.Nomenclature }"
              ></ng-container>
            </th>
            <th (click)="onSort(columnSortEnum.Sku)">
              sku
              <ng-container
                *ngTemplateOutlet="sortIndicator; context: { columnSortCurrent: columnSortEnum.Sku }"
              ></ng-container>
            </th>
            <th (click)="onSort(columnSortEnum.Name)">
              name
              <ng-container
                *ngTemplateOutlet="sortIndicator; context: { columnSortCurrent: columnSortEnum.Name }"
              ></ng-container>
            </th>
            <th (click)="onSort(columnSortEnum.BrandName)">
              brandName
              <ng-container
                *ngTemplateOutlet="sortIndicator; context: { columnSortCurrent: columnSortEnum.BrandName }"
              ></ng-container>
            </th>
            <th (click)="onSort(columnSortEnum.WbRating)">
              wbRating
              <ng-container
                *ngTemplateOutlet="sortIndicator; context: { columnSortCurrent: columnSortEnum.WbRating }"
              ></ng-container>
            </th>
            <th (click)="onSort(columnSortEnum.ReviewsCount)">
              reviewsCount
              <ng-container
                *ngTemplateOutlet="sortIndicator; context: { columnSortCurrent: columnSortEnum.ReviewsCount }"
              ></ng-container>
            </th>
            <th (click)="onSort(columnSortEnum.Ordered)">
              ordered
              <ng-container
                *ngTemplateOutlet="sortIndicator; context: { columnSortCurrent: columnSortEnum.Ordered }"
              ></ng-container>
            </th>
            <th>soldQuantity</th>
            <th>soldAmount</th>
            <th>orderedAmount</th>
            <th>availability</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of sortTable(table)">
            <td>
                <img [src]="item.image" [alt]="item.name">
            </td>
            <td>{{ item.nomenclature }}</td>
            <td>{{ item.sku }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.brandName }}</td>
            <td>{{ item.wbRating }}</td>
            <td>{{ item.reviewsCount }}</td>
            <td>{{ item.ordered }}</td>
            <td>{{ item.soldQuantity }}</td>
            <td>{{ item.soldAmount }}</td>
            <td>{{ item.orderedAmount }}</td>
            <td>{{ item.availability }}</td>
        </tr>
    </tbody>
</table>

<ng-template #sortIndicator let-columnSortCurrent="columnSortCurrent">
  <ng-container *ngIf="columnSortCurrent === columnSort">
    <span *ngIf="sortOrder === sortOrderEnum.Ascending">&#8593;</span>
    <span *ngIf="sortOrder === sortOrderEnum.Descending">&#8595;</span>
  </ng-container>
</ng-template>
